[submodule "third_party/curobo"]
	path = third_party/curobo
	url = https://github.com/NVlabs/curobo.git

[submodule "third_party/GraspGen"]
	path = third_party/GraspGen
	url = https://github.com/NVlabs/GraspGen.git

[submodule "third_party/MinkowskiEngine"]
	path = third_party/MinkowskiEngine
	url = https://github.com/NVIDIA/MinkowskiEngine.git

[submodule "third_party/sam2"]
	path = third_party/sam2
	url = https://github.com/facebookresearch/sam2.git

[submodule "third_party/VILA"]
	path = third_party/VILA
	url = https://github.com/NVlabs/VILA.git
